@using EFCore.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div id="Query_locate">
	<form id="submitForm">
		<table width="100%">
			<tr>
				<td>
					<font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案查询 </font>
				</td>
			</tr>
			<tr>
				<td align="right">
						<input type="button" value="提交" class="BUTTON_STYLE1" id="submitButton" data-url="@Url.Action("Change_list","HumanResources")" />
					<input type="button" value="搜索" class="BUTTON_STYLE1" onclick="location.href='query_keywords.html'">
					<input type="hidden" name="result" value="toQueryList" />

						<input type="text" style="display:none;" v-model="fkId" name="FirstKindName" id="FirstKindName" />
						<input type="text" style="display:none;" v-model="skId" name="SecondKindName" id="SecondKindName" />
						<input type="text" style="display:none;" v-model="tkId" name="ThirdKindName" />
				</td>
			</tr>
		</table>
		<table width="100%" border="1" cellpadding=0 cellspacing=1
			   bordercolorlight=#848284 bordercolordark=#eeeeee
			   class="TABLE_STYLE1">
			   <tr>
					<td class="TD_STYLE1">
					I,II,III级机构名称
				   </td>
					<td width="84%" class="TD_STYLE2">
					<el-cascader v-model="kindId"
								 placeholder="全部"
								 :options="list"
								 :props="{ value:'kindName', label:'kindName', expandTrigger: 'hover' }"
								 v-on:change="changeSelectPath" style="width:400px"></el-cascader>
				   </td>
			   </tr>

			   <tr>
					<td class="TD_STYLE1">
					   职位分类，名称
				   </td>
					<td width="84%" class="TD_STYLE2">
						<el-cascader v-model="selectedCMKs"
									 placeholder="全部"
									 :options="cmks"
									 :props="{ value:'majorKindName',label:'majorKindName', expandTrigger: 'hover' }"
									 v-on:change="handleChange"
									 style="width:400px"></el-cascader>
						<input type="text" style="display:none;" v-model="makId" name="MajorKindName" id="MajorKindName" />
						<input type="text" style="display:none;" v-model="maId" name="MajorName" id="MajorName" />
				   </td>
			   </tr>

			<tr>
				<td class="TD_STYLE1">
					请输入建档时间
				</td>
				<td width="84%" class="TD_STYLE2">
					<input type="text" name="datetime1" readonly
						   style="width: 14%" class="INPUT_STYLE2" id="date_start">
					至
					<input type="text" name="datetime2" readonly="readonly"
						   style="width: 14%" class="INPUT_STYLE2" id="date_end">
					<input type="hidden" name="utilBean.datePropertyName" value="registTime" />
				</td>
			</tr>
			</table>    <script src="~/js/updatego.js"></script>

	</form>
	</div>
	<script>
		new Vue({
			el: '#Query_locate',
			data: {
				list: [],// 机构信息
				kindId: [],// 选中的信息
				fkId: "",
				skId: "",
				tkId:"",
				selectedCMKs:[],
				cmks:[],
				makId:"",
				maId:""
			},
			methods: {
				changeSelectPath() {
					console.log(this.kindId)
					
					if (this.kindId != null) {
						this.fkId = this.kindId[0];
						this.skId = this.kindId[1];
						this.tkId = this.kindId[2];
					}
				},
				handleChange(value) {
					console.log("点击项输出", value);
					this.JsonSelected = JSON.stringify(this.selected);
					this.JsonSelectedCMKs = JSON.stringify(this.selectedCMKs);
					console.log("级别" + this.JsonSelected, "职位" + this.JsonSelectedCMKs)
					console.log(this.selectedCMKs)
					if (this.selectedCMKs != null) {
						this.makId = this.selectedCMKs[0];
						this.maId = this.selectedCMKs[1];
					}
				},
			},
			mounted() {
				//向后端请求一二级机构信息
				axios.get("@Url.Action("GetCFFKsAndCFSKss","HumanResources")")
					.then(res => {
						console.log(res.data)
						this.list = res.data
					})
				axios.get("@Url.Action("GetCMKss","HumanResources")")
					.then(res => {
						console.log("职位级联", res.data)
						this.cmks = res.data;
					})
			}
		})
	</script>
</body>
</html>
