@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../../css/table.css" type="text/css">
	<script type="text/javascript" src="../../javascript/comm/comm.js"></script>
</head>
<body>
	<form method="post" action="">
		<table width="100%">
			<tr>
				<td colspan="2">
					<font color="black">您正在做的业务是：人力资源--薪酬标准管理--薪酬标准登记 </font>
				</td>
			</tr>
			<tr>

				<td width="49%"> 复核成功！</td>
				<td width="51%" align="right">
					<input type="button"
						   class="btn btn-primary updatePage"
						   data-url="@Url.Action("Salarystandard_check_list","SSs")"
						   value="返回" />
				</td>
			</tr>
		</table>    <script src="~/js/updatego.js"></script>

    </form>
</body>
</html>

