@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>

<body>
	<div id="Register_locate">
		<form id="submitForm">
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--调动管理--调动登记查询 </font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="button" value="查询" v-on:click="updatePage()" class="btn btn-primary">
					</td>
				</tr>
			</table>
			<table width="100%" border="1" cellpadding=0 cellspacing=1
				   bordercolorlight=#848284 bordercolordark=#eeeeee
				   class="table">
				<tr >
					<td>
						<span style="margin: 0 10px 0 0">请选择机构</span>
						<el-cascader v-model="value"
									 :options="list"
									 :props="{ value:'kindId', label:'kindName', expandTrigger: 'hover' }"
									 style="width:800px"
									 v-on:change="handleChange"></el-cascader>
					</td>
					
				</tr>
				<tr>
                    <td>
                        <span>请输入建档时间</span>
						<el-date-picker v-model="dateStar"
										align="right"
										type="date"
										placeholder="选择日期"
										v-on:change="dateGSHStar()">
						</el-date-picker>
						至
						<el-date-picker v-model="dateEnd"
										align="right"
										type="date"
										placeholder="选择日期"
										v-on:change="dateGSHEnd()">
						</el-date-picker>
                    </td>
				</tr>
			</table>
			<input type="hidden" name="JsonSelected" v-model="selectedList"/>
			<input type="hidden" name="DateStar" v-model="dateStar"/>
			<input type="hidden" name="DateEnd" v-model="dateEnd"/>
		</form>
	</div>
	<script>
		new Vue({
			el: '#Register_locate',
			data: {
				value: [],
				list: [],
				dateStar: '',
				dateEnd: '',
				selectedList:'',
			},
			methods:{
				/**
				 * 填充级联控件的值
				 */
				fillList(){
					axios.get("@Url.Action("AllCMKsListGet","HFDs")")
						.then(res=> {
							console.log(res.data);
							this.list = res.data;
						})
				},
				/**
				 * 输出选择的机构
				 */
				handleChange(val) {
					console.log(val)
					this.updateChoose();
				},
				/**
				 * 切换选择
				 */
				updateChoose() {
					this.selectedList = JSON.stringify(this.value);
					console.log(this.selectedList)
				},
				/**
				 * 格式化时间
				 */
				updateDate(dateString) {
					console.log(dateString);
					const date = new Date(dateString);
					// 格式化日期为 "YYYY/MM/DD" 的格式
					const year = date.getFullYear();
					const month = String(date.getMonth() + 1).padStart(2, '0');
					const day = String(date.getDate()).padStart(2, '0');
					const formattedDate = `${year}/${month}/${day}`;

					return formattedDate; // 输出类似于 "2024/01/01" 的格式
				},
				/**
				 * 改变时间时格式化时间
				 */
				dateGSHStar(){
					this.dateStar = this.updateDate(this.dateStar);
					
				},
				dateGSHEnd() {
					this.dateEnd = this.updateDate(this.dateEnd);
				},
				/**
				 * 选择完毕，向后端请求发送修改页面请求
				 */
				updatePage() {
					console.log(this.dateStar, this.dateEnd);
					var url = '@Url.Action("Register_list","HFDs")';
					$.post(url, $("#submitForm").serialize(),
						function (data) {
							console.log("updateGo进行输出打印：", data);
							$("#main-content").html(data);
						})
				},
			},
			mounted(){
				this.fillList();
			},
		})
	</script>
</body>
</html>

